# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

server/libraries/
server/.fabric/
server/versions/
server/world/
server/logs/
server/server.jar
server/fabric-server-launch.jar
server/fabric-installer.jar
server/mods/*.jar

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
